<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  <script src="https://www.gstatic.com/firebasejs/4.1.1/firebase.js"></script>
  <link rel="stylesheet/less" type="text/css" href="less/home.less" />
  <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/2.7.2/less.min.js"></script>
</head>

<body>
  <script src="home.js"></script>
  <div class="main">
    <header>
      <h1 class="title">Hello! I'm SeongBin.</h1>
    </header>

    <script>
      var isAdmin = <%= isAdmin %>;
    </script>

    <%if (isAdmin === true) { %>
    <button id="btnLogout">Log out</button>
    <form action="/document" method="post" style="display:inline-block">
      <input type="hidden" name="main" value="-1">
      <input type="hidden" name="sub" value="0">
      <button id="btnWriting">Writing</button>
    </form>
    <script>
      $(document).ready(() => {
        const btnLogout = $('#btnLogout');
        btnLogout.click(() => {
          firebase.auth().signOut();

          $.ajax({
            url: 'login',
            data: null,
            type: 'DELETE',
            success: (data, status) => {
              window.location.reload();
            }
          });
        });
      });
    </script>
    <% } %>

    <p>
      <img class="img-profile" />
    </p>
    <div>
      <p>
        안녕하세요. 홍성빈입니다.<br />
        백엔드 개발을 메인으로 하고 있으며, 무엇이든 관심 있는 것이 생기면 만들어 봅니다.
      </p>
      <p>
        email : hsb0818@gmail.com<br />
        github : <a href="https://github.com/hsb0818" target="_blank">https://github.com/hsb0818</a><br />
        blog : <a href="http://teraphonia.tistory.com" target="_blank">http://teraphonia.tistory.com</a>
      </p>
    </div>
    <div id="subMain">
    </div>
  </div>
</body>

</html>