<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
      integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous"></script>
    <script src="https://www.gstatic.com/firebasejs/4.1.1/firebase.js"></script>
    <link rel="stylesheet/less" type="text/css" href="less/style.less" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/2.7.2/less.min.js"></script>
  </head>
  <body>
    <script src="app.js"></script>
    <div class="main">
      <header>
        <h1 class="title">Hello! I'm teraphonia.</h1>
      </header>
      <button id="btnLogout">Log out</button>
      <button id="btnWriting">Writing</button>
      <p>
        <img class="img-profile"/>
      </p>
      <p>
        I’m a software engineer working at Improbable in London as a Tech Lead / Manager. I also write novels and screenplays, and do some acting. I worked at Google Zürich for four years, and before that I had founded and run an indie game development company for almost a decade.
      </p>
      <p>
        I post semi-regularly on Facebook and Twitter. I can also be found in LinkedIn, Casting Call Pro, IMDB, and Google+. The easiest way to say “hi” is via email.
      </p>
      <p>
        Here are some things I’ve made and written over the years.
      </p>
      <h2 id="subtitle">Tech</h2>
      <h2 id="subtitle">Writing</h2>
      <h2 id="subtitle">Misc</h2>
    </div>
  </body>
</html>
