<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
      integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous"></script>
    <script src="https://www.gstatic.com/firebasejs/4.1.1/firebase.js"></script>
    <link rel="stylesheet/less" type="text/css" href="less/reading.less" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/2.7.2/less.min.js"></script>
  </head>
  <body>
    <script>
      var main = parseInt(<%= main %>);
      var sub = parseInt(<%= sub %>);
    </script>
    <script src="reading.js"></script>
    <div class="main">
      <h1 id="subTitle"></h1>
      <div id="subMain">
      </div>
    </div>
  </body>
</html>
