@bgcolor: #E0E0E0;
@bodycolor: #fff;
@textcolor: black;

html {
  background-color: @bgcolor;
}

body {
  color: @textcolor;
  font-family: Georgia, serif;
  line-height: 1.5;
}

.main {
  max-width: 960px;
  margin: 45px auto;
  box-shadow: 0 0 20px;
  padding: 25px 45px;
  background-color: @bodycolor;

  h1, h2 {
    font-family: "Helvetica", "Arial", sans-serif;
  }

  a {
    text-decoration: none;
    color: #2020FF;
  }

  .hide {
    display: none;
  }

  .title {
  }

  .img-profile {
    width: 180px;
    height: 180px;
    float:left;
    margin-right: 20px;
    border-radius: 50%;
  }

  .subtitle {
    border-bottom: 1px solid;
  }
}
