@bgcolor: #E0E0E0;
@bodycolor: #fff;
@textcolor: black;

html {
  background-color: @bgcolor;
}

body {
  color: @textcolor;
  font-family: Georgia, serif;
  line-height: 1.5;
}

.main {
  max-width: 960px;
  margin: 45px auto;
  box-shadow: 0 0 20px;
  padding: 25px 45px;
  background-color: @bodycolor;

  h1, h2 {
    font-family: "Helvetica", "Arial", sans-serif;
  }

  .hide {
    display: none;
  }

  .img-center-wraper {
    margin: 15px auto;
    display: block;
    width: 90%;
  }

  .img-center {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
  }

  .subtitle {
    border-bottom: 1px solid;
  }

  .bottom-space {
    margin-bottom: 15px;
  }

  .right-space {
    margin-right: 15px;
  }

  .vertical-space {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  input {
    .bottom-space;
  }

  .nopad {
    padding: 0;
  }

  .btns {
    float: right;
  }

  .uploadImg {
    width: 50px;
    height: 50px;
  }

  .float-clear {
    content: "";
    display: block;
    clear: both;
  }

  .centered {
    margin: 0 auto;
    display: block;
    text-align: center;
  }

  a {
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  div.nav {
    border-bottom: 1px solid #ccc;
  }

  div.nav a.homelink {
    color: lightgrey;
    font-size: 20pt;
    float: right;
    text-decoration: none;
  }
  div.nav a.homelink:hover {
    color: black;
  }

  div.nav:after {
    .float-clear;
  }
}
